flask==2.0.2
mysql-connector-python==8.0.28
flask-sqlalchemy==2.5.1
flask-wtf==1.0.0
flask-bcrypt==0.7.1
dynaconf==2.2.1
Flask-RESTful==0.3.7
SQLAlchemy-serializer==1.3.4.2
Flask-Bootstrap==3.3.7.1
## Todos acima instalados sem versões pinadas
# werkzeug==2.0.0 (Não instalar esse)